<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>Employees</title>

    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/view-employees.css}">
</head>

<body>

<a th:href="@{/dashboard}" class="back-btn">⬅ Back</a>

<div class="form-box">

    <h1 class="title">View Employees</h1>
    <p class="subtitle">View all employee details</p>

    <!---heading show in pdf--->
    <h1 class="print-title">Employee Details</h1>

    <div class="top-bar">

        <form th:action="@{/employees}" method="get">
            <input type="text" name="keyword" placeholder="Search by ID, Name, Department..." />
            <button type="submit">Search</button>
        </form>

        <button onclick="printPage()" class="print-btn">Print</button>

    </div>

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Email</th>
            <th>Department</th>
            <th>Salary</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="emp : ${list}">
            <td th:text="${emp.id}"></td>
            <td th:text="${emp.name}"></td>
            <td th:text="${emp.gender}"></td>
            <td th:text="${emp.email}"></td>
            <td th:text="${emp.department}"></td>
            <td th:text="${emp.salary}"></td>
        </tr>
        </tbody>
    </table>

</div>

<script>
    function printPage() {
        window.print();
    }
</script>

</body>
</html>